$color-text: #2B3756;
$color-background: #f5f9FF;
$color-primary: #2B3756;
$color-secondary: #8995A4;
$color-accent: #F5F5F5;
$color-accent-light: #E6E6E6;
$color-accent-dark: #DDE2E8;
$color-accent-darker: #B0B7C2;
$color-accent-darkest: #8995A4;
$color-accent-lighter: #F5F5F5;
$color-accent-lightest: #FFFFFF;
$color-accent-text: #43464F;
$color-accent-text-light: #8995A4;
$color-accent-text-dark: #21354B;