/* #f5f9FF */


/* #DDE2E8 */


/* #2B3756 */


/* #8995A4 */


/* #F5F5F5 */


/* #E6E6E6 */


/* #FFFFFF */


/* #43464F */


/* #21354B */

:root {
    --color-text: #2B3756;
    --color-background: #f5f9FF;
    --color-primary: #2B3756;
    --color-secondary: #8995A4;
    --color-accent: #F5F5F5;
    --color-accent-light: #E6E6E6;
    --color-accent-dark: #DDE2E8;
    --color-accent-darker: #B0B7C2;
    --color-accent-darkest: #8995A4;
    --color-accent-lighter: #F5F5F5;
    --color-accent-lightest: #FFFFFF;
    --color-accent-text: #43464F;
    --color-accent-text-light: #8995A4;
    --color-accent-text-dark: #21354B;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: #ffffff;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: "Segoe UI Variable Display", system-ui, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}